a {
  text-decoration: none;
  color: black;
  padding-right: 13px;
  border-right: 1px solid black;
}
.nav-bar {
  background-color: rgba(45, 150, 196, 50);
  position: fixed;
  top: 0px;
  padding-top: 45px;
  text-align: center;
  left: 0px;
  padding: 25px;
  width: 50%;
  font-size: 25px;
}
#title {
  margin-top: 130px;
}
.nav-style {
  display: none;
}